:root {
  --color-blue: #121e6c;
  --color-red: #ee424e;
  --color-dark-gray: #606060;
  --color-light-gray: #f3f3f3;
  --color-background: #f6f4f9;
  --color-white: #fff;
}

.card {
  width: 25vw;
  min-width: 210px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 3px 2px 13px 2px var(--color-light-gray);
}

.card-title {
  background: linear-gradient(to right, var(--color-blue), var(--color-red));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  color: var(--color-light-gray);
  gap: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
}

.amount {
  background: linear-gradient(to right, var(--color-blue), var(--color-red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin: 10px; */
}

.date {
  margin: 0 0 10px 0;
}
