@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --color-blue: #121e6c;
  --color-red: #ee424e;
  --color-dark-gray: #606060;
  --color-light-gray: #f3f3f3;
  --color-background: #f6f4f9;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f4f9;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
